<div class="container">
  <h2>Ajouter des données</h2>

  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="fill">
      <mat-label>Titre</mat-label>
      <input matInput formControlName="title" />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Valeur</mat-label>
      <input matInput formControlName="value" />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Unité</mat-label>
      <input matInput formControlName="unit" />
    </mat-form-field>

    <!-- <div class="form-g">
      <label> Valeur </label>
      <input type="number" formControlName="value" />
    </div>
    <div class="form-g">
      <label> Unité </label>
      <input type="text" formControlName="unit" />
    </div> -->

    <button type="submit" class="btn btn-primary">ADD</button>
  </form>
</div>
