<div class="container">
  <h2>Ajouter des données</h2>

  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="form-g">
      <label> Titre </label>
      <input type="text" formControlName="title" />
    </div>
    <div class="form-g">
      <label> Valeur </label>
      <input type="number" formControlName="value" />
    </div>
    <div class="form-g">
      <label> Unité </label>
      <input type="text" formControlName="unit" />
    </div>

    <button type="submit" class="btn btn-primary">ADD</button>
  </form>
</div>
