li {
  color: black;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 350px;
  margin: 2rem;
  background-color: rgba(190, 137, 137, 0.342);
}
